body {
    font-family: Arial, sans-serif;
    height: 100vh;
    margin: 0;
    padding: 20px;
    background-color: #f5f5f5;
    overflow: auto;
}

.container {
    width: 40%;
    margin-left: auto;
}

.orderbook {
    display: flex;
    flex-direction: column;
    gap: 0;
    width: 15%;
    border: 1px solid #000; /* Adds border to the table */
}

.orderbook td, .orderbook th {
    width: 33.33%;
    border: 1px solid #ddd;
    padding: 4px;
    text-align: right;
    font-size: 0.6em;
}
.orderbook table {
    width: 100%;
    border-collapse: collapse;
    font-size: 0.8em;
    table-layout: fixed;
}

th {
    background-color: #4CAF50;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}
