<!DOCTYPE html>
<html>
<head>
<title>Order Book</title>
<link rel="stylesheet" href="../static /style.css">
</head>
<body>
    <h1>Order Book</h1>
    <div class="orderbook">
        <div id="bids" class="bids orders">
            <table>
                <tr>
                    <th>Price</th>
                    <th>Volume</th>
                </tr>
            </table>
        </div>
        <div id="asks" class="asks orders">
            <table>
            </table>
        </div>
    </div>
    <script src="../static /app.js"></script>
</body>
</html>